<div class="back-container">
  <button
    mat-raised-button
    class="back-btn"
    (click)="goBack()">
    ← Geri Dön
  </button>
</div>

<h2>Kullanıcı Kayıtları</h2>

<table mat-table [dataSource]="logs" class="mat-elevation-z8">

  <!-- TARİH -->
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>Tarih</th>
    <td mat-cell *matCellDef="let row">
      {{ row.timestamp | date:'short' }}
    </td>
  </ng-container>

  <!-- KULLANICI -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>Kullanıcı</th>
    <td mat-cell *matCellDef="let row">{{ row.user }}</td>
  </ng-container>

  <!-- DOSYA -->
  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef>Dosya</th>
    <td mat-cell *matCellDef="let row">{{ row.filename }}</td>
  </ng-container>

  <!-- DURUM -->
  <ng-container matColumnDef="detected">
    <th mat-header-cell *matHeaderCellDef>Durum</th>
    <td mat-cell *matCellDef="let row">
      <span [style.color]="row.detected ? 'red' : 'green'">
        {{ row.detected ? "Virüslü" : "Temiz" }}
      </span>
    </td>
  </ng-container>

  <!-- DETAY -->
  <ng-container matColumnDef="result_detail">
    <th mat-header-cell *matHeaderCellDef>Detay</th>
    <td mat-cell *matCellDef="let row">

      <!-- Eğer kısa ise -->
      <div *ngIf="!row.result_detail || row.result_detail.length <= 120">
        {{ row.result_detail }}
      </div>

      <!-- Eğer uzun ise -->
      <div *ngIf="row.result_detail && row.result_detail.length > 120">

        <!-- Kısa hali -->
        <div *ngIf="!row._expanded">
          {{ row.result_detail | slice:0:120 }}...
          <button class="expand-btn" (click)="toggleExpand(row)">devamını göster</button>
        </div>

        <!-- Tam hali -->
        <div *ngIf="row._expanded">
          {{ row.result_detail }}
          <button class="expand-btn" (click)="toggleExpand(row)">gizle</button>
        </div>

      </div>

    </td>
  </ng-container>

  <!-- TABLO SATIRLARI -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
