.container {
  width: 85%;
  margin: auto;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-card {
  padding: 20px;
  margin: 20px 0;
}

.filter-box {
  width: 300px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.message {
  color: #d32f2f;
  margin-top: 10px;
}
.quota-card {
  margin-bottom: 20px;
  padding: 15px;
  background: #fafafa;
  border-left: 5px solid #3f51b5;
}

.quota-card h3 {
  margin-bottom: 10px;
}
