name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: Run Django Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django Tests
        env:
          SECRET_KEY: dummykey123
          DEBUG: False
          VT_API_KEY: dummykey
        run: |
          pytest -v

  docker-build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: test   # TESTLER GEÇMEZSE BURAYA İNMEZ

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t guvenli-backend .
